h1 {
    font-family: sans-serif;
}

body {
    font-size: 16px;
}

p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    line-height: 110%;
    text-align: center;
    text-decoration: line-through;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.brown {
    background-color: brown;
}